@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}

@mixin flipVertical {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%;
  height: auto;
}

/* flexbox */

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;

}

@mixin justify-content($content) {
  -webkit-justify-content: $content; /* Safari 6.1+ */
  -moz-justify-content: $content; /* Safari 6.1+ */
  justify-content: $content;
}

@mixin align-item($align) {
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin flex($flex:1) {
  -webkit-flex: $flex; /* Safari 6.1+ */
  -ms-flex: $flex; /* IE 10 */
  -moz-flex: $flex; /* Mozilla 28.0 */
  flex: $flex;
}
