/* Colors */

$black: #3C2117;
$cardinal-red: #B7222F; //morango
$amaranth-red:#EF4056;
$flamingo: #EC583B; //tangerina e pessego
$casablanca: #f6a546; //limao e maracuja
$keppel: #419D9D;
$chelsea-cucumber:#779e48;
$victoria: #5e407b; //amora
